@import './reset.scss';

.artistCard {
  display: flex;
  width: 310px;
  height: 268px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  .bandImg {
    img {
      display: flex;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      padding: 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      flex: 1 0 0;
      align-self: stretch;
    }
  }

  .strContainer {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

    .bandInfo {
      align-self: stretch;

      p {
        color: var(--Ink-02, #656f77);
        font-feature-settings:
          'clig' off,
          'liga' off;

        /* Paragraph/Small */
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
      }
    }
    .bandName {
      align-self: stretch;

      p {
        color: #000;
        font-feature-settings:
          'clig' off,
          'liga' off;

        /* Heading/H4 */
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 128%; /* 30.72px */
        letter-spacing: -0.5px;
      }
    }
  }
}
