@import './reset.scss';

.hamburger {
  background-color: #f1f1f1;
}

.lemon {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 100px;
}

.lemon_header {
  font-family: M PLUS Rounded 1c;
  font-size: 170px;
  font-weight: 100px;
  text-align: center;
}
.DrawerHeader {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  font-size: 30px;
}
