@import './reset.scss';

.header {
  display: flex;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #fef7ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin: left 20%; */
}

.headerTitle {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: black;
}
